<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://java.sun.com/xml/ns/javaee" xsi:schemaLocation="https://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <servlet>
<servlet-name>logow</servlet-name>
<servlet-class>shop.logServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>shop.logoutServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>rejestr</servlet-name>
<servlet-class>shop.rejServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>upload</servlet-name>
<servlet-class>shop.uploadServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>addCom</servlet-name>
<servlet-class>shop.addComServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>addItem</servlet-name>
<servlet-class>shop.addToCartServlet</servlet-class>
</servlet>
  <servlet>
<servlet-name>removeItem</servlet-name>
<servlet-class>shop.removeItemFromCartServlet</servlet-class>
</servlet>
 <servlet>
<servlet-name>changeQt</servlet-name>
<servlet-class>shop.changeQtServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>order</servlet-name>
<servlet-class>shop.submitOrderServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>dn</servlet-name>
<servlet-class>shop.daneServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>item</servlet-name>
<servlet-class>shop.itemServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ord</servlet-name>
<servlet-class>shop.unOrderServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>state</servlet-name>
<servlet-class>shop.stateOfItemServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>addQt</servlet-name>
<servlet-class>shop.addQtServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>report</servlet-name>
<servlet-class>shop.reportServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>com</servlet-name>
<servlet-class>shop.checkComServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>upd</servlet-name>
<servlet-class>shop.updateStatusServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>updUR</servlet-name>
<servlet-class>shop.updateStatusURServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>addPR</servlet-name>
<servlet-class>shop.addWorkerServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>pass</servlet-name>
<servlet-class>shop.passChangeServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>addCt</servlet-name>
<servlet-class>shop.addCtServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>updUserD</servlet-name>
<servlet-class>shop.userDataChangeServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ban</servlet-name>
<servlet-class>shop.banServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logow</servlet-name>
<url-pattern>/log</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>rejestr</servlet-name>
<url-pattern>/rej</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>upload</servlet-name>
<url-pattern>/upload</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>addCom</servlet-name>
<url-pattern>/addCom</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>addItem</servlet-name>
<url-pattern>/addItem</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>removeItem</servlet-name>
<url-pattern>/removeItem</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>changeQt</servlet-name>
<url-pattern>/changeQt</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>order</servlet-name>
<url-pattern>/order</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>dn</servlet-name>
<url-pattern>/dn</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>item</servlet-name>
<url-pattern>/item</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ord</servlet-name>
<url-pattern>/ord</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>state</servlet-name>
<url-pattern>/state</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>addQt</servlet-name>
<url-pattern>/addQt</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>report</servlet-name>
<url-pattern>/report</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>com</servlet-name>
<url-pattern>/com</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>upd</servlet-name>
<url-pattern>/upd</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updUR</servlet-name>
<url-pattern>/updUR</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>addPR</servlet-name>
<url-pattern>/addPR</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>pass</servlet-name>
<url-pattern>/pass</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>addCt</servlet-name>
<url-pattern>/addCt</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updUserD</servlet-name>
<url-pattern>/updUserD</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ban</servlet-name>
<url-pattern>/ban</url-pattern>
</servlet-mapping>
</web-app>
